@media (max-width: 575.98px) {
    .package {
        position: relative;
    }
    .moblie-package-2 {
        visibility: hidden;
        display: none;
    }
    .carousel-control {
        position: relative;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .moblie-package-2 {
        visibility: hidden;
        display: none;
    }
    .carousel-control {
        position: relative;
    }
    .package {
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .moblie-package-2 {
        visibility: hidden;
        display: none;
    }
    .carousel-control {
        position: relative;
    }
    .package {
        position: relative;
    }
    .dnt-h {
        position: relative;
        display: block;
        bottom: 60px;
    }
    .moblie-package {
        visibility: visible;
        justify-content: center;
        display: inline-flex;
        margin-left: 150px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .moblie-package {
        visibility: hidden;
        display: none;
    }
    .dnt-h {
        visibility: hidden;
        display: none;
    }
    .package {
        position: relative;
        bottom: 200px;
    }
}

@media (min-width: 1200px) {
    .moblie-package {
        visibility: hidden;
        display: none;
    }
    .dnt-h {
        position: relative;
        display: block;
        bottom: 60px;
    }
    .package {
        position: relative;
        bottom: 40px;
    }
}


/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}