@media (max-width: 575.98px) {
    .demo-1 {
        padding-left: 20px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {
    .hori-line {
        position: relative;
        display: block;
        border-bottom: 5px solid #00d2ff;
        height: 10px;
        width: 150px;
        left: 560px;
    }
    .demo-1 {
        padding: 50px;
        padding-left: 100px !important;
    }
}